@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.slide-enter-active {
  animation: Slide 0.3s ease;
}
.slide-leave-active {
  animation: Slide 0.3s ease reverse;
}

@keyframes Slide {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
